<!--导航栏相同代码-->
<a class="navbar-brand" href="/">我的博客</a>
<div>
    <ul class="nav navbar-nav">
        <li {{if eq .Path "/"}} class="active" {{end}}><a href="/">首页</a></li>
        <!--设置鼠标随高亮-->
        <li {{if eq .Path "/category"}} class="active" {{end}}><a href="/category">分类</a></li>
        <li {{if eq .Path "/topic"}} class="active" {{end}}><a href="/topic">文章</a></li>
    </ul>
</div>

<div class="pull-right">
    <ul class="nav navbar-nav">
        {{if eq true .IsLogin}}
        <li><a href="/quit">退出</a></li>
         {{else}}
        <li><a href="/alogin">管理员登录</a></li>
        {{end}}
    </ul>
</div>